## Imports

In [1]:
import numpy as np 
import pandas as pd

df = pd.read_csv("Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_20231030.csv")

In [2]:
print(df.columns)
df.head()

Index(['Period', 'Company Name', 'company contact', 'company email',
       'company phone', 'Address', 'City', 'State', 'Postcode', 'Industry',
       'Industry descr', 'Company Type', 'Current fulltime', 'Job created',
       'Job retain', 'Effective Date', 'Total Savings',
       'Savings from beginning receiving benefits', 'Gas Savings',
       'Cogen savings', 'Electric Savings', 'Borough', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'BIN', 'BBL',
       'Census Tract (2020)', 'Neighborhood Tabulation Area (NTA) (2020)'],
      dtype='object')

,Period,Company Name,company contact,company email,company phone,Address,City,State,Postcode,Industry,...,Electric Savings,Borough,Latitude,Longitude,Community Board,Council District,BIN,BBL,Census Tract (2020),Neighborhood Tabulation Area (NTA) (2020)
0,FY2018,"139 ACA Realty, Inc.",Eitan Chandally,barbara@dial7.com,7187076123,43-23 35th Street,Long Island City,NY,11101,Commercial,...,NaN,QUEENS,40.745706,-73.929565,402.0,26.0,4003160.0,4.002220e+09,17902.0,QN0202
1,FY2018,"141 Lake Avenue Realty c/o JR Produce, Inc.",Josef Raz,jrproduce@gmail.com,7183708782,141 Lake Avenue,Staten Island,NY,10303,Wholesale/Warehouse/Distribution,...,NaN,STATEN IS,40.632845,-74.151048,501.0,49.0,5146740.0,5.011610e+09,239.0,SI0107
2,FY2018,14-10 123rd Street LLC,Danica/Ivan Drazic,ddrazic@atjelectrical.com,7183210117,14-10 123rd Street,College Point,NY,11356,Commercial,...,NaN,QUEENS,40.785144,-73.844833,407.0,19.0,4098344.0,4.040850e+09,929.0,QN0701
3,FY2018,183 Lorriane Street LLC,Tom Sapienza,tsapienza@KLCNY.com,2128405588,183 Lorraine Street,Brooklyn,NY,11231,Wholesale/Warehouse/Distribution,...,NaN,BROOKLYN,40.673106,-74.002300,306.0,38.0,3336622.0,3.005720e+09,5302.0,BK0601
4,FY2018,"21st Century Optics, Inc.",Ralph Woythaler,rwoythaler@21st centuryoptics.com,7183922310,47-00 33rd Street,Lond Island City,NY,11101,Manufacturing,...,NaN,QUEENS,40.742386,-73.932148,402.0,26.0,4003447.0,4.002520e+09,19901.0,QN0202

## 1. How many different companies are represented in the data set?

In [3]:
nCompanies = len(df['Company Name'].unique())
print(f'There are {nCompanies} unique companies represented.')

There are 787 unique companies represented.

## 2. What is the total number of jobs created for businesses in Queens?

In [4]:
df.query('Borough == "QUEENS"')['Job created'].sum()

1196.0

## 3. How many different unique email domains names are there in the data set?

In [5]:
def getEmailDomain(s) -> str:
    """
    For string s, returns email domain of s.
    """
    if type(s) == type(''):
        return s.split('@')[-1]
    else:
        return np.nan

df['email domain'] = df['company email'].apply(lambda email: getEmailDomain(email))

len(df[~df['email domain'].isnull()]['email domain'].unique())

601

## 4. Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

In [6]:
nta = 'Neighborhood Tabulation Area (NTA) (2020)'
df_ntas = df.groupby(nta)[[nta, 'Total Savings', 'Job created']].filter(lambda x: len(x) > 5)
df_to_save = df_ntas.groupby(nta).mean().fillna(0)
df_to_save

                                           Total Savings  Job created
Neighborhood Tabulation Area (NTA) (2020)
BK0101                                      10367.961795     5.333333
BK0102                                      12599.753333     7.500000
BK0103                                      19150.922857     0.000000
BK0104                                      21158.253077    10.388889
BK0201                                      15102.036364     0.000000
...                                                  ...          ...
QN1303                                       3592.211000    10.000000
QN1306                                      21160.505200     0.000000
SI0106                                       6338.252857     5.000000
SI0107                                     113610.160000   150.000000
SI0204                                     605464.839167     0.000000

[61 rows x 2 columns]

## 5. Save your result for the previous question as a CSV file.

In [7]:
df_to_save.to_csv('./question5.csv')